<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Postgres Monitor</title>
      <script type="text/javascript" src="{{ url_for('static', path='smoothie.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
      
  </head>
  <body onload="createTimeline()">

    <div class="dropdown">
      <button id="dpbtn" class="dropbtn" onclick="getDbList();">Database</button>
      <div id="dropdown-menu" class="dropdown-content">
      </div>
    </div> 

    <h2>Connection Graph</h2>

    <div>
      <div style="float:left;">
        <canvas id="chart" width="500" height="150"></canvas>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <td style="font-weight: bold;">Index</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div style="width: 20px; height:20px; background-color:blue; float: left;"></div>
                <span style="margin:0px 10px">Total [ <span id="total_span">0</span> ]</span>
              </td>
            </tr>
            <tr>
              <td>
                <div style="width: 20px; height:20px; background-color:green; float:left;"></div>
                <span style="margin:0px 10px">Active [ <span id="active_span">0</span> ]</span>
              </td>
            </tr>
            <tr>
              <td>
                <div style="width: 20px; height:20px; background-color:red; float:left;"></div>
                <span style="margin:0px 10px">Idle [ <span id="idle_span">0</span> ]</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h2> TPS Statistic </h2>

    <table border="2px" >
      <thead>
        <tr>
          <td>Transactions</td>
          <td>Commits</td>
          <td>Rollbacks</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span id="transaction">0</span></td>
          <td><span id="commit">0</span></td>
          <td><span id="rollback">0</span></td>
        </tr>
      </tbody>
    </table>

    <script type="text/javascript">

      function eventCallback(event){         
        try{
          let data = JSON.parse(event.data);
          let session_stats = JSON.parse(data.session_stats);
          let tps_stats = JSON.parse(data.tps_stats);
          let datetime_now = new Date().getTime();

          total.append(datetime_now, session_stats.Total);
          active.append(datetime_now, session_stats.Active);
          idle.append(datetime_now, session_stats.Idle);

          total_span.innerText = session_stats.Total;
          active_span.innerText = session_stats.Active;
          idle_span.innerText = session_stats.Idle;

          transaction_span.innerText = tps_stats.Transactions;
          commit_span.innerText = tps_stats.Commits;
          rollback_span.innerText = tps_stats.Rollbacks;
        }catch(err){
          console.log(err);
        }
      }

      // Randomly add a data point every 500ms
      var total = new TimeSeries();
      var active = new TimeSeries();
      var idle = new TimeSeries();

      var transaction_span = document.getElementById(id="transaction");
      var commit_span = document.getElementById(id="commit");
      var rollback_span = document.getElementById(id="rollback");

      var total_span = document.getElementById(id="total_span");
      var active_span = document.getElementById(id="active_span");
      var idle_span = document.getElementById(id="idle_span");

      event = new EventSource('/stats');
      event.onmessage = eventCallback;
      
      function createTimeline() {
        var chart = new SmoothieChart({interpolation:'linear', minValue:0, tooltip:true, timestampFormatter:SmoothieChart.timeFormatter});
        chart.addTimeSeries(total, { strokeStyle: 'rgba(0, 0, 255, 1)', fillStyle: 'rgba(0, 0, 255, 0.2)', lineWidth: 4 });
        chart.addTimeSeries(active, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });
        chart.addTimeSeries(idle, { strokeStyle: 'rgba(255, 0, 0, 1)', fillStyle: 'rgba(255, 0, 0, 0.2)', lineWidth: 4 });
        chart.streamTo(document.getElementById("chart"), 500);
      }

      var dpbtn = document.getElementById('dpbtn');
      var dpMenu = document.getElementById('dropdown-menu');

      function goForDb(db){
        try{
          event.close();
        }catch{

        }
        event = new EventSource('/db/'+db);
        event.onmessage = eventCallback;
        dpbtn.innerText = 'Database : '+db;
      }

      function getDbList(){
        dpMenu.innerHTML = ""
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
          if (xhr.readyState == XMLHttpRequest.DONE){
            let json = JSON.parse(xhr.responseText);
            for (let i=0; i<json.length; i++){
              let ele = document.createElement('a');
              ele.href = '#';
              ele.innerText = json[i];
              ele.onclick = function(){ goForDb(json[i]); };
              dpMenu.appendChild(ele);
            }
          }else{
            console.log("Error fetching dblist: " + xhr.status);
          }
        }
        xhr.open('GET', '/dblist', true);
        xhr.send(null);
        
      }

    </script>
  </body>
</html>